.App {
	text-align: center;
	margin: 10px auto;
}

.cards-wrapper {
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	box-shadow: 2px -2px 20px burlywood;
	background: rgba(222, 184, 135, 0.582);
}

.quote-card {
	width: 300px;
	margin: 30px;

	padding: 10px;
	border-radius: 10px;
	background: rgba(222, 184, 135, 0.664);
	box-shadow: -20px 20px 80px burlywood;
}
