.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 256px;
}

.App-header {
  background-color: #222;
  height: 350px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2rem;
  font-family: 'Ringbearer', sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.post-title {
  font-family: 'Aniron', sans-serif;
}