.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(228, 228, 228);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.postCard {
  width: 400px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px 3px gray;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.postTitle {
  border-bottom: 1px solid gray;
  width: 90%;
  padding-bottom: 15px;
}