body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App{
  list-style: none;
  background-color:rgb(214, 236, 214);
}
.title-name{
  background-color:#CFB53B;
  height:40px;
  margin:1px;
}
.contents-name{
  background-color:darkgreen;
  color:goldenrod;
  height:40px;
  margin:1px;
}