.App {
    display: flex;
    flex-direction: column;
  }

.postTitle {
    font-weight: 700;
    color: rebeccapurple;
}
.postContent:before{
    content: '';
}

.postContent:hover:after{
    content: '?';
    font-weight: 700;
}