.post-list {
    display: flex;
    flex-wrap: wrap;
}

.post {
    border: 1px solid black;
    margin: auto;
    width: 33%;
    height: 350px;
    padding-top: 25px;
}

.title {
    width: 90%;
    margin: auto;
}

.content {
    width: 45%;
    margin: auto;
    margin-top: 30px;
}

input {
    border: 1px solid black;
    margin-top: 15px;
}

