.post-card-wrapper {
    background: #E0E1DD;
    border: 1px solid #0D1B2A;
    width: 100%;
    height: auto;
    margin: 0 0 20px;
    padding: 30px;
    font-family: LotRFont;
    display: inline-block;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.post-card-title {
    font-size: 24px;
    width: 100%;
    justify-self: center;
    position: relative;
    color: #1B263B;
    z-index: 3;
}

.post-card-title:before {
    content: '\201C';
    position: absolute;
    color: #778DA9;
    font-size: 120px;
    top: -20px;
    left: -20px;
    z-index: -1;
 }

.post-card-contents {
    margin-top: 10px;
    font-size: 18px;
    color: #415A77;
}

.post-card-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background: rgba(13, 27, 42, 0.9);
    color: #E0E1DD;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: default;
}

.post-card-modal .post-card-modal-edit{
    font-size: 20px;
    padding: 10px 10px 10px 0;
    margin: 10px 0 10px 10px;
    border-right: 3px solid #415A77;
    cursor: pointer;
    z-index: 4;
    transition: all 0.5s ease;
}

.post-card-modal .post-card-modal-edit:hover{
    color: #778DA9;
    cursor: pointer;
    transition: all 0.5s ease;
}

.post-card-modal .post-card-modal-delete{
    font-size: 20px;
    margin: 10px;
    z-index: 4;
}

.post-card-modal .post-card-modal-delete:hover{
    color: #778DA9;
    cursor: pointer;
    transition: all 0.5s ease;
}

.post-card-modal .post-card-modal-close{
    font-size: 20px;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    font-family: sans-serif;
    cursor: pointer;
}

.post-card-modal .post-card-modal-close:hover{
    color: #778DA9;
    cursor: pointer;
    transition: all 0.5s ease;
}

.post-card-edit-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background: rgba(182, 0, 167, 0.9);
    color: #E0E1DD;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.post-card-edit-modal .post-card-edit-back {
    font-size: 20px;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    font-family: sans-serif;
    cursor: pointer;
}

.post-card-edit-modal .post-card-edit-form {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.post-card-edit-modal .post-card-edit-form textarea {
    resize: none;
    width: 100%;
    height: 100px;
}

.post-card-edit-modal .post-card-edit-form input {
    width: 100%;
    padding: 2px;
    margin: 5px 0;
}

.post-card-edit-modal .post-card-edit-form button {
    width: 100%;
}