.Post h2{
    font-size:115%;
    font-weight:normal;
    font-family: 'Reenie Beanie';
}

.Post p{
    font-size:180%;
    font-weight:normal;
    font-family: 'Reenie Beanie';
}
.Post ul,li{
    list-style:none;
}
.Post ul{
    overflow:hidden;
    padding:3em;
}
.Post ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:25em;
    width:30em;
    padding:1em;
}
.Post ul li{
    margin:1em;
    float:left;
}

