* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  background-color: rgba(241, 245, 245, .6);
  width: 45%;
  margin: 1% 1.5%;
  padding: 2%;
  text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  list-style: none;
}

h2 {
  color: rgb(114, 54, 54);
}

p{
  margin-top: 5%;
  font-size: 1.3rem;
  color: rgb(110, 110, 110)
}