.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  width: 250px;
  background: #263248;
  border-right: 1px solid #2c3b50;
  box-sizing: border-box;
  height: 100vh;
}

.sidebar-wrapper h1 {
  font-size: 35px;
  line-height: 0.9;
  color: #fff;
}

.sidebar-wrapper button {
  margin-bottom: 15px;
}
