@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Niconne');

* {
    box-sizing: border-box;
}

html, body, .app {
    background-color: ghostwhite;
}

p, h1 {
    margin: 0;
}

.title {
    width: 100%;
    font-size: 40px;
    font-family: 'Niconne', cursive;
    margin: 10px;
    margin-left: 50%;
}

.post { // Main post body
    width: 35%;
    margin: 0 15% 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items:  flex-start;
    margin-top: 20px;
    border-bottom: 5px solid maroon; 
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.9);


    .name { // Name block
        font-size: 25px;
        font-family: 'Niconne', cursive;
        background-color: darkolivegreen;
        width: 100%;
        padding: 5px 1rem;
        color: goldenrod;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        span { // Shared a Post
            font-family: 'Josefin Slab', serif;
            font-size: 15px;
            font-weight: bold;
            color: lightgray;
        }

        .delete {
            font-family: 'Josefin Slab', serif;
            font-size: 15px;
            font-weight: bold;
            color: lightgray;
            user-select: none;
            cursor: pointer;

            &:hover {
                color: maroon;
            }
        }
    }

    .quote { // Quote block
        font-size: 25px;
        font-family: 'Fredericka the Great', cursive;
        padding: 0 1rem;
        background-color: burlywood;
        width: 100%;
        color: maroon;
        border-top: 5px double darkolivegreen; 
        border-bottom: 5px double maroon;

        em {
            font-weight: normal;
        }
    }

}

.add-post {
    position: fixed;
    width: 30%;
    top: 100px;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Slab', serif;
    
    input {
        margin-bottom: 20px;
        width: 100%;
        height: 40px;
        outline: none;
        font-size: 20px;
        padding-left: 20px;
        font-family: 'Niconne', cursive;
    }

    textarea {
        margin-bottom: 20px;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        min-height: 150px;
        outline: none;
        padding: 20px;
        font-size: 25px;
        font-family: 'Fredericka the Great', cursive;
    }

    .button {
        background-color: burlywood;
        border: 5px double maroon;
        outline: 1px solid maroon;
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
        transition: outline .2s;
        font-weight: bold;
    
            &:hover {
                outline: 5px solid maroon;
        }
    }
}