@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v6/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--SjxbI.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-5wjwOK3Ps5GSJlNNkMalnqg6q.ttf) format('truetype');
}
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local('Niconne'), local('Niconne-Regular'), url(https://fonts.gstatic.com/s/niconne/v7/w8gaH2QvRug1_rTfnQyn3A.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body,
.app {
  background-color: ghostwhite;
}
p,
h1 {
  margin: 0;
}
.title {
  width: 100%;
  font-size: 40px;
  font-family: 'Niconne', cursive;
  margin: 10px;
  margin-left: 50%;
}
.post {
  width: 40%;
  margin: 0 10% 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  border-bottom: 5px solid maroon;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.9);
}
.post .name {
  font-size: 25px;
  font-family: 'Niconne', cursive;
  background-color: darkolivegreen;
  width: 100%;
  padding: 5px 1rem;
  color: goldenrod;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.post .name span {
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
  font-weight: bold;
  color: lightgray;
}
.post .name .delete {
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
  font-weight: bold;
  color: lightgray;
  user-select: none;
  cursor: pointer;
}
.post .name .delete:hover {
  color: maroon;
}
.post .quote {
  font-size: 25px;
  font-family: 'Fredericka the Great', cursive;
  padding: 0 1rem;
  background-color: burlywood;
  width: 100%;
  color: maroon;
  border-top: 5px double darkolivegreen;
  border-bottom: 5px double maroon;
}
.post .quote em {
  font-weight: normal;
}
.add-post {
  position: fixed;
  width: 30%;
  top: 30%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Josefin Slab', serif;
}
.add-post input {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 20px;
  padding-left: 20px;
  font-family: 'Niconne', cursive;
}
.add-post textarea {
  margin-bottom: 20px;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 150px;
  outline: none;
  padding: 20px;
  font-size: 25px;
  font-family: 'Fredericka the Great', cursive;
}
.add-post .button {
  background-color: burlywood;
  border: 5px double maroon;
  outline: 1px solid maroon;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: outline 0.2s;
  font-weight: bold;
}
.add-post .button:hover {
  outline: 5px solid maroon;
}
