
.posts-container {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post-container {
  border: 1px solid lightgrey;
  width: 200px;
  padding: 3%;
  border-radius: 10px;
  margin: auto;
  margin-top: 6%;
  margin-bottom: 3%;
}