.postlist-container {
  width: 65%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-top: 20%;
}
