.single-post-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.single-post-wrapper {
  align-content: center;
  margin-top: 30%;
  padding: 5%;
  background-color: #f2f2f2;
  border-radius: 2.5%;
}

.single-post-title {
  font-weight: 600;
  padding: 5%;
}
