.App {
}

.App h1 {
  text-transform: uppercase;
  margin-top: 0;
  color: #f9db42;
}

.Posts {
  display: flex;
  flex-wrap: wrap;
}

.Post {
  border: 1px solid #9d863e;
  margin: 1rem;
  width: 200px;
  height: 200px;
  padding: 1rem;
  border-radius: 5px;
  overflow: hidden;
}
