.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.PostsList {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
}

.PostCard {
  border: 2px solid rgb(55, 55, 55);
  margin-top: 15px;
  width: 50%;
}

.PostCard_header {
  display: flex;
  justify-content: space-between;
}

.PostCard_header * {
  border-top: none;
  color: white;
  width: 18px;
  margin: 0;
}

.PostCard_id {
  background: black;
  border-left: none;
}

.PostCard_delete {
  background: red;
  border-right: none;
  line-height: 16px;
}

.PostCard_body {
  padding: 0 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
