.SearchBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	margin: 20px 0;
	padding: 5px 10px;
}

.SearchBar__Input {
	width: 100% !important;
}

.SearchBar__Icon {
	order: 1;
}
