.App {
  /* text-align: center; */
   display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;  */
} 

.postList {
  width: 75%;
  text-align: center;
  margin-left: 40%;
}

.newPost {
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
